.header {
  align-items: center;
  display: flex;
  font-weight: 700;
  height: 20vh;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  width: inherit;
}

.logo {
  margin: 0;
  z-index: 100;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 4em;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: gray;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover,
    &.active {
      color: $heading-colour;
    }
  }
}

.hamburger {
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 1em;
  justify-content: space-evenly;
  opacity: 1;
  position: relative;
  z-index: 100;

  > div {
    background: $heading-colour;
    height: 2px;
    transition: all 0.4s ease;
    width: 1em;
  }
}

.menu {
  display: none;
  position: relative;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.menu-toggle {
  opacity: 0;
  position: absolute;

  &:checked {
    & ~ .hamburger > div {
      position: absolute;
      right: 0;
      top: 25%;
      transform: rotate(135deg);

      &:first-of-type {
        transform: rotate(-135deg);
      }

      &:last-of-type {
        opacity: 0;
      }
    }

    & ~ .pages {
      visibility: visible;
    }
  }
}

@include extrasmall {
  .header {
    height: 10vh;
  }

  .pages {
    background: $background-colour;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 99;
  }

  .pages-container {
    align-items: center;
    display: flex;
    height: 90vh;
    margin-top: 10vh;
  }

  .nav-list {
    flex-direction: column;
    font-size: calc(var(--base-em) * var(--step-seven));
    margin: 0 7.5vw;
    width: 85vw;

    li {
      margin-right: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  .hamburger {
    display: flex;
  }
}

@include small {
  .header {
    height: 10vh;
  }

  .pages {
    align-items: center;
    background: $background-colour;
    display: flex;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 99;
  }

  .pages-container {
    align-items: center;
    display: flex;
    height: 90vh;
    margin-top: 10vh;
  }

  .nav-list {
    flex-direction: column;
    font-size: calc(var(--base-em) * var(--step-eight));
    margin: 0 7.5vw;

    width: 85vw;

    li {
      margin-right: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  .hamburger {
    display: flex;
  }
}

@include tiny {
  .nav-list {
    font-size: calc(var(--base-em) * var(--step-six));
  }
}
