.header {
  align-items: flex-end;
  display: flex;
  height: 3vw;
  justify-content: space-between;
  left: 0;
  padding: 0 3vw;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  width: 100vw;
  z-index: 1;
}

.logo {
  font-weight: 700;
  letter-spacing: -0.03em;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
    }
  }
}

.navigation {
}

.nav-list {
  display: flex;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.1em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  li {
    margin-right: 1.6vw;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
