%strikethrough {
  background-color: $body-colour;
  bottom: 0.1em;
  content: '';
  height: 0.12em;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  width: 100%;
}

.header {
  align-items: center;
  color: $body-colour;
  display: flex;
  font-weight: 700;
  height: 20vh;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  width: inherit;
}

.logo {
  margin: 0;
  z-index: 100;

  a {
    color: inherit;
    letter-spacing: -0.03em;
    text-decoration: none;
    text-shadow: 0 0;
    text-transform: uppercase;
  }
}

.navigation {
  z-index: 100;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 4em;
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &::before {
      @extend %strikethrough;
    }

    &:hover:before,
    &.active:before {
      transform: scaleX(1);
    }
  }
}

.hamburger {
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 0.75em;
  justify-content: space-between;
  opacity: 1;
  position: relative;

  > div {
    background: $heading-colour;
    height: 2px;
    transition: all 0.4s ease;
    width: 1em;
  }
}

.menu {
  display: none;
  position: relative;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.header.toggled {
  color: #fff;
  transition: 0.3s color cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.hamburger.toggled > div {
  background: #fff;
  position: absolute;
  right: 0;
  top: 25%;
  transform: rotate(135deg);

  &:first-of-type {
    transform: rotate(-135deg);
  }

  &:last-of-type {
    opacity: 0;
  }
}

.pages.toggled {
  //animation: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 overlay forwards;
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) transform;

  .pages-container {
    //animation: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s 1 overlayContent forwards;
    opacity: 1;
    transform: translateX(0);
    transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) transform 0s,
      opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  }
}

@include extrasmall {
  .header {
    height: 10vh;
    min-height: 7.5vw;
  }

  .pages {
    background: $heading-colour;
    height: 100vh;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    width: 100%;
    z-index: 99;
  }

  .pages-container {
    align-items: center;
    display: flex;
    height: 90vh;
    margin-top: 10vh;
    opacity: 0;
    transform: translateX(25%);
    transition: opacity 0s;
  }

  .nav-list {
    font-size: 8vh;
    margin: 0 7.5vw;

    li {
      clear: left;
      float: left;
      margin-right: 0;
    }
  }

  .hamburger {
    display: flex;
  }
}

@include small {
  .header {
    height: 10vh;
    min-height: 7.5vw;
  }

  .pages {
    background: $heading-colour;
    height: 100vh;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 5s 5s;
    width: 100%;
    z-index: 99;
  }

  .pages-container {
    align-items: center;
    display: flex;
    height: 90vh;
    margin-top: 10vh;
    opacity: 0;
    transform: translateX(25%);
    transition: opacity 0s;
  }

  .nav-list {
    font-size: 8vh;
    margin: 0 7.5vw;

    li {
      clear: left;
      float: left;
      margin-right: 0;
    }
  }

  .hamburger {
    display: flex;
  }
}

@include tiny {
  .nav-list {
    font-size: 7vh;
  }
}
