$system-fonts: (
  'system-ui',
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Helvetica Neue',
  'sans-serif'
);

$primary-font: 'Glacial Indifference';
$logo-font: 'Trueno ExBold';

//colours
$background-colour: rgb(246, 246, 246);

$heading-colour: rgb(36, 36, 36);
$subheading-colour: rgb(49, 49, 49);
$body-colour: rgb(36, 36, 36);

$vertical-rhythm: 1em * 1;

//typographic scale

$size: 18px;
$ratio: 1.2;
$base: 1.125;
$base-em: $base * 1em;
$base-rem: $base * 1rem;
$base-px: $base * $size;

$step-zero: 1;
$step-one: $ratio; /* 1.2   */
$step-two: $ratio * $step-one; /* 1.44  */
$step-three: $ratio * $step-two; /* 1.728 */
$step-four: $ratio * $step-three; /* 2.074 */
$step-five: $ratio * $step-four; /* 2.488 */
$step-six: $ratio * $step-five; /* 2.986 */
$step-seven: $ratio * $step-six; /* 3.583 */
$step-eight: $ratio * $step-seven;
$step-back: $ratio / $step-three;
