$system-fonts: (
  'Poppins',
  'system-ui',
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Helvetica Neue',
  'sans-serif'
);

//colours
$black: #171717;
$body-colour: #595959;

//typographic scale

:root {
  --size: 16px;
  --ratio: 1.2;
  --base: 1;
  --base-em: calc(var(--base) * 1em);
  --base-rem: calc(var(--base) * 1rem);
  --base-px: calc(var(--base) * var(--size));

  //whitespace
  --space-sm: calc(var(--base-rem) / var(--ratio));
  --space-md: var(--base-rem);
  --space-lg: calc(var(--space-md) * var(--ratio));
  --space-xl: calc(var(--space-lg) * var(--ratio));

  //use these on h and p tags
  /*.u-marginXl { margin: var(--space-xl); }
.u-paddingSm { padding: var(--space-sm); }*/

  --step-zero: 1;
  --step-one: var(--ratio); /* 1.2   */
  --step-two: calc(var(--ratio) * var(--step-one)); /* 1.44  */
  --step-three: calc(var(--ratio) * var(--step-two)); /* 1.728 */
  --step-four: calc(var(--ratio) * var(--step-three)); /* 2.074 */
  --step-five: calc(var(--ratio) * var(--step-four)); /* 2.488 */
  --step-six: calc(var(--ratio) * var(--step-five)); /* 2.986 */
  --step-seven: calc(var(--ratio) * var(--step-six)); /* 3.583 */
}
