.contact-form {
  margin: 5vw 0;
  width: 100%;

  div {
    margin-bottom: 1em;

    &:last-of-type {
      margin-bottom: 2em;
    }
  }

  label {
    display: none;
    font-size: 0.75em;
  }

  input,
  textarea {
    background: rgb(230, 230, 230);
    border: 0;
    border-radius: 4px;
    color: inherit;
    outline: 0;
    padding: 1em 1.5em;
    width: 100%;
  }

  textarea {
    height: 13em;
    resize: none;
  }

  ::placeholder {
    color: $body-colour;
    //opacity: 1;
  }

  button {
    background: $heading-colour;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.02em;
    padding: 1em 1.5em;

    &:hover {
      cursor: pointer;
    }
  }
}

.small-input {
  display: inline-block;
  width: calc(50% - 0.5em);

  &.email {
    margin-left: 1em;
  }
}

@include extrasmall {
  .contact-form {
    width: inherit;
  }

  .small-input {
    display: block;
    width: 100%;

    &.email {
      margin-left: 0;
    }
  }
}
