.about {
  display: flex;
  flex-direction: column;
  margin: 10vw 0;
  width: 100%;
}

.about-picture {
  align-self: flex-end;
  border-radius: 4px;
  overflow: hidden;
  width: 50%;
}

.about-text {
  color: $subheading-colour;
  margin-bottom: 5vw;
  min-width: 45em;
  width: 60%;
}

.page-heading {
  animation: 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s 1 fadeInHeading
    forwards;
  opacity: 0;
}

.re {
  animation: 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s 1 slideUpHeading
    forwards;
  margin: 0;
}

.te {
  animation: 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s 1 slideUpHeading
    forwards;
  margin-bottom: 4.5rem;
}

.page-subheading {
  animation: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s 1 slideUpBody
    forwards;
  font-size: 1.1em;
  line-height: 1.8;
  max-width: 45em;
  opacity: 0;

  a {
    color: inherit;
  }
}

@include extrasmall {
  .about {
    flex-direction: column;
  }

  .about-text {
    min-width: unset;
    width: 100%;
  }

  .te {
    margin-bottom: 1.5rem;
  }

  .about-picture {
    width: 100%;
  }
}
@include small {
  .about {
    flex-direction: column;
  }

  .about-text {
    min-width: unset;
    width: 100%;
  }

  .te {
    margin-bottom: 1.5rem;
  }

  .about-picture {
    width: 100%;
  }
}
