.about {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  width: 100%;
}

.about-picture {
  align-self: flex-end;
  border-radius: 4px;
  overflow: hidden;
  width: 50%;
}

.about-text {
  color: $subheading-colour;
  margin-bottom: 5vw;
  min-width: 45em;
  width: 55%;
}

.page-heading {
  animation: 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s 1 fadeInHeading
    forwards;

  opacity: 0;
  top: 0;
}

.about-header {
  margin-bottom: 4.5rem;
}

.page-subheading {
  animation: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s 1 slideUpBody
    forwards;
  font-size: 1.1em;
  line-height: 1.8;
  max-width: 36em;
  opacity: 0;

  a {
    color: inherit;
  }
}

.about-footer {
  background: rgb(187, 187, 187);
}

.about-footer.wrapper {
  padding: 2.5vh 0;
}

@include extrasmall {
  .about-header {
    margin-bottom: 1.5rem;
  }
}

@include small {
  .about {
    flex-direction: column;
  }

  .about-text {
    min-width: unset;
    width: 100%;
  }

  .page-subheading {
    max-width: unset;
  }

  .about-picture {
    width: 100%;
  }
}
