.about {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  width: 100%;

  @include extrasmall {
    flex-direction: column;
  }
  @include small {
    flex-direction: column;
  }
}

.about-picture {
  background-color: gray;
  height: 80%;
  overflow: hidden;
  width: 30%;

  @include extrasmall {
    width: 100%;
  }
  @include small {
    width: 100%;
  }
}

.about-text {
  width: 35%;

  @include extrasmall {
    width: 100%;
  }
  @include small {
    width: 100%;
  }

  span {
    color: $black;
    font-size: calc(var(--base-em) * var(--step-one));
    font-weight: 600;
    margin-bottom: 2em;
  }
}

.about-body {
  column-count: 2;
  column-gap: 2em; 

  p {
    color: $body-colour;
    margin-top: 2em;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-top: 3em;
    padding: 0;
    text-decoration: none;
  }

  li {
  }
}
