.contact {
  display: flex;
  width: inherit;
}

.contact-box {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  min-width: 35em;
  user-select: none;
  width: 55%;
}

@include extrasmall {
  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-box {
    min-width: 0;
    width: 100%;
  }

  .contact-text {
    padding: 0;
    width: 100%;
  }
}
