.contact {
  display: flex;
  min-height: 80vh;
  width: inherit;
}

.contact-box {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  user-select: none;
  width: 60%;
}

.contact-text {
  max-width: 40em;

  p {
    line-height: 2;
    margin: 0;
  }

  a {
    color: inherit;
  }
}

@include extrasmall {
  .contact {
    min-height: 90vh;
  }

  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-box {
    width: 100%;
  }

  .contact-text {
    padding: 0;
    width: 100%;
  }
}

@include small {
  .contact {
    min-height: 90vh;
  }

  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-box {
    width: 100%;
  }

  .contact-text {
    padding: 0;
    width: 100%;
  }
}
