.contact {
  display: flex;
  height: 80vh;
  width: inherit;
}

.contact-box {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  user-select: none;
  width: 50%;
}

.contact-text {
  width: 25%;

  h3 {
    font-size: 0.75em;
    //font-weight: normal;
    //letter-spacing: 0.03em;
    margin: 2em 0 0.5em;
    //text-transform: uppercase;

    &:first-of-type {
      margin: 0 0 0.5em;
    }
  }

  p {
    color: $body-colour;

    &:first-of-type {
      margin: 0;
    }
  }

  ul {
    //display: flex;
    //justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  li {
    color: $body-colour;
  }
}

@include extrasmall {
  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-box {
    width: 100%;
  }

  .contact-text {
    padding: 0;
    width: 100%;
  }
}

@include small {
  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-box {
    width: 100%;
  }

  .contact-text {
    padding: 0;
    width: 100%;
  }
}

@include medium {
}
