.work {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: inherit;
  margin: 0 auto;
  position: relative;
  width: inherit;

  @include extrasmall {
    flex-direction: column;
  }
}

.work-list {
  cursor: move;
  cursor: grab;
  display: flex;

  user-select: none;

  &:active {
    cursor: grabbing;
  }

  img {
    height: 100%;
  }

  .work-item {
    height: 25em;
    margin-right: 4em;
    transition: 0.3s;
    width: 20em;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      transform: translate3d(0, 10px, 0);
      transition: 0.3s;
    }
  }

  .work-cover {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.25);
    height: 20em;
    width: 20em;
  }
}

.work-bar {
  align-items: flex-end;
  bottom: 0;
  color: gray;
  display: flex;
  font-family: 'League Spartan', $system-fonts;
  justify-content: space-between;
  left: 0;
  margin: 0 0 3vw;
  padding: 0 3vw;
  position: fixed;
  right: 0;
  user-select: none;
  width: 100vw;
  z-index: 1;

  .work-filter {
    .filter-list {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li,
    .filter-active {
      background: none;
      border: none;
      color: inherit;
      outline: none;
      padding: 0;
      text-align: left;
      text-transform: capitalize;
      width: 100%;

      &:hover {
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
      }

      &.active {
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: none;
      }
    }
  }

  .work-progress {
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    margin: 0 auto;
    position: relative;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 30%;

    .progress-bar {
      background: $subheading-colour;
      border-radius: 12.5%;

      cursor: move;
      cursor: grab;
      display: block;
      height: 1px;
      height: 5px;
      position: relative;
      top: -200%;
      transform: translateY(-50%) scaleY(0.7);
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      width: 10%;

      &:active {
        cursor: grabbing;
      }
    }
  }
}
