html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  background: $background-colour;
  font-family: $system-fonts;
  font-size: calc(var(--base-em) * var(--step-zero));
  line-height: 1.5;
}

h1 {
  font-size: calc(var(--base-em) * var(--step-five));
  line-height: 1.125;
}

h2 {
  font-size: calc(var(--base-em) * var(--step-four));
  line-height: 1.25;
}

h3,
h4,
h5 {
  font-size: calc(var(--base-em) * var(--step-one));
}

h6 {
  font-size: calc(var(--base-em) * var(--step-zero));
}

h6,
h5,
h4,
h3,
h2,
h1 {
  color: $heading-colour;
  margin: 0;
  margin-bottom: $vertical-rhythm;
}

@include extralarge {
  body {
    font-size: 18px;
  }
}

.wf-loading p {
  /* styles for fallback fonts */
}

.wf-active p {
  /* styles for custom fonts */
}

.wf-inactive p {
  /* use fallback fonts */
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

p {
  margin: 0;
  margin-bottom: $vertical-rhythm;
}
