html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  font-family: $system-fonts;

  font-size: calc(var(--base-em) * var(--step-zero));
  line-height: calc(var(--base) * var(--step-two));
}

h1 {
  font-size: calc(var(--base-em) * var(--step-five));
}

h2 {
  font-size: calc(var(--base-em) * var(--step-four));
}

h3 {
  font-size: calc(var(--base-em) * var(--step-one));
}

h4 {
  font-size: calc(var(--base-em) * var(--step-one));
}

h5 {
  font-size: calc(var(--base-em) * var(--step-one));
}

h6 {
  font-size: calc(var(--base-em) * var(--step-zero));
}

h3,
h2,
h1 {
  line-height: calc(var(--base) * var(--step-one));
}

@include large {
  html {
    font-size: 18px;
  }
}

@include extralarge {
  html {
    font-size: 20px;
  }
}

.wf-loading p {
  /* styles for fallback fonts */
}

.wf-active p {
  /* styles for custom fonts */
}

.wf-inactive p {
  /* use fallback fonts */
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
