html {
  box-sizing: border-box;
  height: 100%;
  //overflow: hidden;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  //background: $background-colour;
  background: linear-gradient($background-colour);
  color: $body-colour;
  font-family: $primary-font, $system-fonts;
  font-size: calc(var(--base-em) * var(--step-zero));
  line-height: 1.5;
}

h1 {
  font-size: calc(var(--base-em) * var(--step-six));
  //line-height: 1.125;
}

h2 {
  font-size: calc(var(--base-em) * var(--step-five));
}

h3 {
  font-size: calc(var(--base-em) * var(--step-four));
}

h4 {
  font-size: calc(var(--base-em) * var(--step-three));
}

h5 {
  font-size: calc(var(--base-em) * var(--step-two));
}

h6 {
  font-size: calc(var(--base-em) * var(--step-one));
}

h6,
h5,
h4,
h3,
h2,
h1 {
  color: $heading-colour;
  line-height: 1.25;
  margin: 0;
  margin-bottom: $vertical-rhythm;
}

@include extrasmall {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: calc(var(--base-em) * var(--step-five));
  }

  h2 {
    font-size: calc(var(--base-em) * var(--step-four));
  }

  h3 {
    font-size: calc(var(--base-em) * var(--step-three));
  }
}

@include tiny {
  h1 {
    font-size: calc(var(--base-em) * var(--step-two));
  }

  h2 {
    font-size: calc(var(--base-em) * var(--step-two));
  }

  h3 {
    font-size: calc(var(--base-em) * var(--step-one));
  }
}

@include small {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: calc(var(--base-em) * var(--step-five));
  }

  h2 {
    font-size: calc(var(--base-em) * var(--step-four));
  }

  h3 {
    font-size: calc(var(--base-em) * var(--step-three));
  }
}

@include medium {
  body {
    font-size: 16px;
  }
}

@include huge {
  body {
    font-size: 1vw;
  }
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

p {
  color: $body-colour;
  margin: 0;
  margin-bottom: $vertical-rhythm;
}

img {
  -webkit-user-drag: none;
}
