@font-face {
  font-family: 'Glacial IndifferenceSubset';
  font-style: normal;
  font-weight: 400;

  //unicode-range: U + 65-U + 90, U + 97-122;
}
@font-face {
  font-family: 'Glacial Indifference';
  src: url('../../src/resources/fonts/glacialindifference-regular.woff2')
    format('woff2'),
    url('../../src/resources/fonts/glacialindifference-regular.woff')
    format('woff');
}
@font-face {
  font-family: 'Glacial Indifference';
  font-weight: 700;
  src: url('../../src/resources/fonts/glacialindifference-bold.woff2')
    format('woff2'),
    url('../../src/resources/fonts/glacialindifference-bold.woff')
    format('woff');
}
@font-face {
  font-family: 'Glacial Indifference';
  font-style: italic;
  src: url('../../src/resources/fonts/glacialindifference-italic.woff2')
    format('woff2'),
    url('../../src/resources/fonts/glacialindifference-italic.woff')
    format('woff');
}

body {
  font-family: $system-fonts;
}

.fonts-loaded-1 body {
  font-family: 'Glacial IndifferenceSubset';
}

.fonts-loaded-2 body {
  font-family: 'Glacial Indifference';
}
